<h2 class="page-header">注文情報入力</h2>
<div class="row">
  <%= form_with model: @order, url: order_confirm_path, method: :post, local: true do |f| %>
    <h3>支払い方法</h3>
    <div class="form-group">
      <%= f.radio_button :payment_method, :"クレジットカード", checked: true %>
      <%= f.label :payment_method, "クレジットカード", {value: 0, style: "display: inline-block;"} %>
      <%= f.radio_button :payment_method, :"銀行振込" %>
      <%= f.label :payment_method, "銀行振込", {value: 1, style: "display: inline-block;"} %>
    </div>
    <h3>お届け先</h3>
    <div class="form-group">
      <%= f.radio_button :delivery_address, :"#{@my_address}", checked: true %>
      <%= f.label :delivery_address, "ご自身の住所" %></br>
      <%= f.label :delivery_address, "〒#{@my_postcode}  #{@my_address}" %></br>
      <%= f.label :delivery_name, "#{customer_full_name(current_customer.id)}" %>
    </div>
    <div class="form-group">
      <%= f.radio_button :delivery_address, :"#{@my_address}" %>
      <%= f.label :delivery_address, "登録済住所から選択" %>
    </div>

    <%= f.hidden_field :postage, :value => 800 %>

    <%= f.submit "確認画面へ進む" %>
  <% end %>
</div>